node_modules
dist
.git
.github
.vscode
*.log
.env
.env.*
!.env.example
*.md
!README.md
.DS_Store
coverage
.astro
props
backend/node_modules
backend/.env
backend/dist
backend/.astro
frontend/node_modules
frontend/.env
frontend/dist
frontend/.astro
